<div class="sidebar">
  <div class="logo">IVF Data</div>

  <ul class="menu">
    <li><a href="dashboard.html">Dashboard</a></li>
    <li><a href="patients.html">Patients</a></li>
    <li><a href="ivf_cycles.html">IVF Cycles</a></li>
    
    <p class="section-title">INSIGHTS</p>
    <li><a href="reports.html">Reports & Analytics</a></li>
    
    <p class="section-title">SYSTEM</p>
    <li><a href="settings.html">Settings</a></li>
    <li><a href="admin.html">Admin</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div>
